.profile-cards {
    margin: 1em;
}

.profiles {
    margin-right: 20%;
    margin-left: 20%;
}

.infotext {
    margin-top: 1em;
    margin-left: 20%;
    margin-right: 20%;
}

.project-tools {
    line-height: 0.5em;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 1em;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 800px) {
    .infotext {
        text-align: center;
    }
    .the-team {
        text-align: center;
    }
}