.coursedetails {
    height: 48%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:1em;

}

.c-overview-message {
    text-align: center;
    line-height: 100%;
}

#course_info {
    width: 80%
}

#my_dataviz {
    width: 80%;
}