.coursedetails {
    height: 50%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.c-overview-message {
    text-align: center;
}

#course_info {
    width: 80%
}

#my_dataviz {
    width: 80%;
}