.navbar {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
}

.option-1, .option-2 {
    color: white;
}

.option-1 {
    
}

a {
    text-decoration: none;
    margin: 0 10px;
}

.active-tab {
    text-decoration: underline;
}