*{  box-sizing: border-box;
}

.teachersoverview{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.8em 0.8em;
    height:100%;
}



.button {
    padding: 0.7em 0.7em;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    background-color: #e0e0e0;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover{
    background-color: grey;
}

.toolbarElement{
    float:left;
    display:inline-block;
    margin-right:0.7em;
}


.teachersoverview_title{
    text-align: center;
}

.teachersoverview_title h1{
    font-size:1em;
}


/*
Menu for the filter fonction
 */



#teachersoverview_filter{
    position:relative;
}


#teachersoverview_filterMenu{
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:absolute;
    left:0;
    top:50px;
    display:none;
    z-index:100;
}

#teachersoverview_filterMenu .firstElement{
    margin-right:0.5em;
}

#teachersoverview_filterMenu>div::after {
    content: "";
    clear: both;
    display: table;
}

#teachersoverview_filterMenu div{
    padding:0.5em;
    vertical-align: middle;
}

.filterElement{
    display:inline-block;
    padding:0;
    margin:0;
    height:3em;
    line-height: 3em;
}

#teachersoverview_filterMinValue, #teachersoverview_filterMaxValue{
    width:6em;
    padding: 0 0.2em 0 0.2em;
}

#teachersoverview_filterMinValue{
    margin-right:0.5em;
}

#teachersoverview_filterCourseValue{
    width:11em;
}

#teachersoverview_filterCourseValueautocomplete-list{
    max-height: 20em;
    overflow:auto;
    padding: 0 !important;
}

#teachersoverview_eraseFilterButton, #teachersoverview_confirmFilterButton{
    background-color: lightgrey;
    float:left;
    width: 48%;
    text-align:center;
    cursor:pointer;
}
#teachersoverview_eraseFilterButton{
    margin-right:5px;
}

/*
Legend
 */

#teachersoverview_legend{
    position:relative;
}

#teachersoverview_legendButton{
    float:right;
    margin:0;
}

#teachersoverview_legendMenu{
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:absolute;
    right:0;
    top:+50px;
    display:none;
}

/*
Visualization
 */

#teachersoverview_vis {
    clear: both;
    margin:auto;
    padding-bottom:1em;
    padding-top:1em;
}

.teachersoverview_selected{
    r:90;
}

.teachersoverview_selectText{
    color:white;
    font-size:20px;
}

.teachersoverview_split {
    font-size: 21px;
    fill: #aaa;
    cursor: default;
}

/*
Tooltip
 */

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #000;
    background: white;
    opacity: .9;
    color: black;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
}

.tooltip .name {
    font-weight:bold;
}
